[Unit]
Description=NEO N3 blockchain node service

After=network-online.target
Requires=network-online.target

[Service]
Type=notify
WorkingDirectory=/opt/neo-host
ExecStart=/usr/bin/neo-host
Restart=always
TimeoutSec=5
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=neonode
User=node
Group=node

[Install]
WantedBy=multi-user.target
