Package: neo-cli
Essential: no
Priority: optional
Depends: libleveldb-dev, libsnappy-dev, libsqlite3-dev
Maintainer: neo-project
Description: Neo N3 blockchain full node and command-line interface (CLI).
