###############################
# Core EditorConfig Options   #
###############################

root = true

# Every file

[*]
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
#end_of_line = crlf
#indent_style = tab  # TODO
