html, body { padding: 0; margin: 0; }
html { height: 100%; }

body { background-color: #fff; font-family: Arial, Helvetica, Verdana; font-size: 14px; line-height: 22px; color: #666; min-height: 100%; position: relative; -webkit-text-size-adjust: none; }
body * { text-shadow: none; }
h1, h2, h3, h4, h5, h6 { line-height: 1; font-weight: bold; margin: 20px 0 10px 0; }
h1, h2, h3 { font-size: 18px; }
h4, h5, h6 { font-size: 16px; }
p { margin: 0 0 10px 0; }
a, a:link, a:active, a:visited, a:hover { color: #333; text-decoration: underline; }

a.button,
span.button { background: #4BD963; color: #fff !important; font-size: 18px; text-align: center; text-decoration: none; }
select,
input[type="text"] { background: #fff; border: 1px solid #ccc; }
.mm-divider.button { text-indent: 0 !important; padding: 20px 20px 40px 20px !important; }

pre { font-size: 12px; width: 100%; overflow: auto; -webkit-overflow-scrolling: touch; }
nav:not(.mm-menu) { display: none; }

.header,
.content,
.footer { text-align: center; }
.header,
.footer { background: #777; font-size: 16px; font-weight: bold; color: #fff; line-height: 40px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 40px; padding: 0 50px; }
.header.mm-slideout { position: fixed; top: 0; left: 0; }
.header a { background: center center no-repeat transparent; background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC ); display: block; width: 40px; height: 40px; position: absolute; top: 0; left: 10px; }
.header a.contacts { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVNJREFUeNq01jFLAzEYxvH2UBCxiIiDUhzcdXCyIk5ufgUXLR37JdxcXBxcuwmOOtml0EKpo04iWIpIQREVEVFLjf9AhoC9e3O5uxd+lMLdPU1yedO8UiqXdQWO122ghi4+8IwGqiiId+uRCHbxqsLrFHNRz5ACSnhTch1EPScQpnIH0w7TWcGiz5rouS45rtkMVnxCJrAQ4yUq+oT8YhAjZOAT8oWHGCE9nxC9H64cA15w4xOiW0HbfErVNhvUa8c3cecQcoZv3xA9z+fCNbe4SNq7jvEUMaUnuE/au7SjkHbSR1G637ULh73Kn+gn7cIBttELGckQh9Jo8iMOrSksYx2b2MKk8FuvUUcHl/9GbiWuooYu3pVf/eARLZQxbp8na2YR0659e+HLmM/geN+z98lSRv8hZu2QQkYh+kzKjZkvHdPahymH6DNp5Cucev0JMAAkKj0NEoYBJwAAAABJRU5ErkJggg==); }
.header a.right { left: auto; right: 10px; }
.content { background: url( menu-arrow.png ) 25px 15px no-repeat transparent; padding: 150px 50px 50px 50px; position: relative; }
.header.mm-fixed + .content { background-position: 25px 55px; }

.messages { position: absolute; top: 0; left: 0; right: 0; z-index: 10; }
.messages div { color: rgba( 0, 0, 0, 0.5 ); line-height: 18px; padding: 10px 20px; }
.messages .error { background: rgb( 255, 225, 225 ); border-bottom: 1px solid rgb( 255, 150, 150 ); }
.messages .warn { background: rgb( 255, 255, 200 ); border-bottom: 1px solid rgb( 200, 200, 150 ); }

html.mm-opened.mm-effect-zoom-menu body { background: #f3f3f3; }
html.mm-opened.mm-effect-zoom-menu.mm-theme-dark body { background: #333; }
html.mm-opened.mm-effect-zoom-menu.mm-theme-black body { background: #000; }
html.mm-opened.mm-effect-zoom-menu.mm-theme-white body { background: #fff; }
html.mm-opened.mm-effect-zoom-menu .mm-page { background-color: #fff; }

.mm-menu li .fa { margin: 0 20px 0 5px; font-size: 16px; width: 12px; }
.mm-menu li[class*="mm-tile"] .fa { margin: 0; line-height: 0; }

.mm-menu .buttonbar-item:after { content: none !important; display: none !important; }
