root = false

[*.cs]

# MSTEST0017: Assertion arguments should be passed in the correct order
dotnet_diagnostic.MSTEST0017.severity = suggestion

# MSTEST0032: Review or remove the assertion as its condition is known to be always true
dotnet_diagnostic.MSTEST0032.severity = suggestion

# MSTEST0037: Use proper 'Assert' methods
dotnet_diagnostic.MSTEST0037.severity = suggestion