@{
    ViewData["Title"] = "View";
}
@model AntSharesUI_Web_.Models.Wallet

@{
    ViewData["Title"] = "我的钱包";
}

<form asp-action="Create" method="post" class="form-horizontal">

</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
