@{
    ViewData["Title"] = "我的钱包";
}
<style>
    .address { padding:0 }
    .address li { margin-bottom:10px; list-style:none }
    .address li span { background-color:#f0f0f0; border-radius:4px; padding:6px 10px; letter-spacing:1px; width:50%; word-wrap:break-word; vertical-align:middle; display:inline-block  }
    .address li .btn { margin-left:5px; padding:5px 12px }
    .wallet-name { padding:0; margin-bottom:10px }
</style>

<h2 class="page-header">我的钱包</h2>
<div class="row nomargin">
    <div class="col-sm-12 wallet-name">
        <span>钱包名称：wallet1.db3</span>
    </div>
    <ul class="col-sm-12 address">
        @for (int i = 0; i < ViewBag.Addresses.Length; i++)
        {
            <li>
                <span>@ViewBag.Addresses[i]</span>
                <button class="btn btn-success withripple">复制</button>
                <a href="~/Wallet/Address?id=1" class="btn btn-info withripple">详情</a>
                <button class="btn btn-danger withripple">删除</button>
            </li>
        }
    </ul>
</div>




