<!DOCTYPE html>
<html class="jPanelMenu" style="font-size:100%">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AntSharesUI_Web_</title>
    <meta @ViewData["meta"] />
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-touch-carousel/dist/css/bootstrap-touch-carousel.css" />
        <link href="~/css/jquery-accordion-menu.css" rel="stylesheet" />
        <link href="~/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/jquery.mmenu.all.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/fileinput.min.css" rel="stylesheet" />
        <link href="~/css/ripples.min.css" rel="stylesheet" />        
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/css/bootstrap-touch-carousel.css"
              asp-fallback-href="~/lib/bootstrap-touch-carousel/css/bootstrap-touch-carousel.css"
              asp-fallback-test-class="carousel-caption" asp-fallback-test-property="display" asp-fallback-test-value="none" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link href="~/css/jquery-accordion-menu.css" rel="stylesheet" />
        <link href="~/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/jquery.mmenu.all.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/fileinput.min.css" rel="stylesheet" />
        <link href="~/css/ripples.min.css" rel="stylesheet" />
    </environment>
</head>

<body>
    <div id="page">
        <div class="content">
            <div class="header">
                <a href="#menu"></a>
                小蚁-AntShares
            </div>
            <div class="padding50">
                @RenderBody()
            </div>
            <footer>
                高度：65536/65536 连接数：7
            </footer>
        </div>
        <nav id="menu" class="mm-theme-dark">
            <ul>
                <li>
                    <span class="withripple"><i class="iconfont">&#xe602;</i>钱包</span>
                    <ul>
                        <li class="withripple"><a href="~/Wallet/Create">创建钱包</a></li>
                        <li class="withripple"><a href="~/Wallet/Open">打开钱包</a></li>
                        <li class="withripple"><a href="~/Wallet">我的钱包</a></li>
                        <li class="withripple"><a href="~/Wallet/ChangePassword">修改密码</a></li>
                    </ul>
                </li>
                <li>
                    <span class="withripple"><i class="iconfont">&#xe600;</i>个人中心</span>
                    <ul>
                        <li class="withripple"><a href="~/Personal/Cert">证书管理</a></li>
                        <li class="withripple"><a href="#">协议管理</a></li>
                    </ul>
                </li>
                <li>
                    <span class="withripple"><i class="iconfont">&#xe604;</i>资产</span>
                    <ul>
                        <li class="withripple"><a href="#">我的资产</a></li>
                        <li class="withripple"><a href="#">资产转让</a></li>
                    </ul>
                </li>
                <li>
                    <span class="withripple"><i class="iconfont">&#xe600;</i>联系人</span>
                    <ul>
                        <li class="withripple"><a href="#">所有联系人</a></li>
                        <li class="withripple"><a href="#">添加联系人</a></li>
                        <li class="withripple"><a href="#">修改联系人</a></li>
                        <li class="withripple"><a href="#">删除联系人</a></li>
                    </ul>
                </li>
                <li>
                    <span class="withripple"><i class="iconfont">&#xe60a;</i>小蚁区块链</span>
                    <ul>
                        <li class="withripple"><a href="#">区块查询</a></li>
                        <li class="withripple"><a href="#">交易查询</a></li>
                        <li class="withripple"><a href="#">地址查询</a></li>
                    </ul>
                </li>
                <li>
                    <span class="withripple"><i class="iconfont">&#xe609;</i>高级功能</span>
                    <ul>
                        <li class="withripple"><a href="#">签名</a></li>
                        <li class="withripple"><a href="#">发行资产</a></li>
                        <li class="withripple"><a href="#">资产分配</a></li>
                        <li class="withripple"><a href="#">开发人员工具</a></li>
                    </ul>
                </li>
                <li>
                    <span class="withripple"><i class="iconfont">&#xe601;</i>系统设置</span>
                    <ul>
                        <li class="withripple"><a href="#">常规设置</a></li>
                        <li class="withripple"><a href="#">检查更新</a></li>
                    </ul>
                </li>
                <li>
                    <span class="withripple"><i class="iconfont">&#xe607;</i>帮助</span>
                    <ul>
                        <li class="withripple"><a asp-action="Contact">帮助</a></li>
                        <li class="withripple"><a target="_blank" href="https://www.antshares.com">官网</a></li>
                        <li class="withripple"><a asp-action="Contact">关于</a></li>
                    </ul>
                </li>              
            </ul>
        </nav>
    </div>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/hammer.js/hammer.js"></script>
        <script src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery.mmenu.min.all.js"></script>
        <script src="~/js/ripples.min.js"></script>
        <script src="~/js/material.min.js"></script>
        <script src="~/js/fileinput.min.js"></script>
        <script src="~/js/fileinput_locale_zh.js.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/hammer.js/2.0.4/hammer.min.js"
                asp-fallback-src="~/lib/hammer.js/hammer.js"
                asp-fallback-test="window.Hammer">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/js/bootstrap-touch-carousel.js"
                asp-fallback-src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"
                asp-fallback-test="window.Hammer && window.Hammer.Instance">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery.mmenu.min.all.js"></script>
        <script src="~/js/material.min.js"></script>
        <script src="~/js/ripples.min.js"></script>
        <script src="~/js/fileinput.min.js"></script>
        <script src="~/js/fileinput_locale_zh.js.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
    <script>
        $(function ()
        {
            var slidingSubmenus = false;
            if (slidingSubmenus) {
                $(".my-title").remove();

            }
            $('nav#menu').mmenu({
                searchfield: true,
                counters: true,
                extensions: ["pagedim-black", "widescreen"],
                slidingSubmenus: slidingSubmenus,
                navbar: {
                    add: true,
                    title: "小蚁-AntShares"
                },
                navbars : [{
                    position: 'top'
                }, {
                    position: 'bottom',
                    content: ['<a class="withripple" href="https://www.antshares.com">www.antshares.com</a>']
                }]
            });
            $.material.init()
        });


        $('nav#menu').jqueryAccordionMenu();

    </script>
</body>
</html>
