<!DOCTYPE html>
<html class="jPanelMenu" style="font-size:100%">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AntSharesUI_Web_</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-touch-carousel/dist/css/bootstrap-touch-carousel.css" />
        <link href="~/css/demo.css" rel="stylesheet" />
        <link href="~/css/jquery-accordion-menu.css" rel="stylesheet" />
        <link href="~/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/jquery.mmenu.all.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/material.min.css" rel="stylesheet" />
        <link href="~/css/roboto.min.css" rel="stylesheet" />
        <link href="~/css/ripples.min.css" rel="stylesheet" />        
        @*<link href="~/css/jquery.mmenu.widescreen.css" media="all and (min-width: 900px)" rel="stylesheet" />*@
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/css/bootstrap-touch-carousel.css"
              asp-fallback-href="~/lib/bootstrap-touch-carousel/css/bootstrap-touch-carousel.css"
              asp-fallback-test-class="carousel-caption" asp-fallback-test-property="display" asp-fallback-test-value="none" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link href="~/css/jquery-accordion-menu.css" rel="stylesheet" />
        <link href="~/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/jquery.mmenu.all.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/material.min.css" rel="stylesheet" />
        <link href="~/css/roboto.min.css" rel="stylesheet" />
        <link href="~/css/ripples.min.css" rel="stylesheet" />
    </environment>
</head>

<body>
    <div id="page">
        <div class="header">
            <a href="#menu"></a>
            小蚁-AntShares
        </div>
        <div class="content">
            <p>
                <strong>This is a demo.</strong><br />
                Click the menu icon to open the menu.
            </p>
            <p>For more demos, a tutorial, documentation and support, please visit <a href="http://mmenu.frebsite.nl" target="_blank">mmenu.frebsite.nl</a></p>
            @RenderBody();
        </div>
        <nav id="menu" class="mm-theme-dark">
            <a class="my-title">小蚁-AntShares</a>
            <ul>
                <li class="withripple"><a href="#"><i class="iconfont">&#xe600;</i>个人中心</a></li>
                <li class="withripple"><a href="#"><i class="iconfont">&#xe604;</i>交易</a></li>
                <li class="withripple"><a href="#"><i class="iconfont">&#xe603;</i>签名</a></li>
                <li>
                    <a class="withripple" href="#about/history"><i class="iconfont">&#xe602;</i>钱包</a>
                    <ul>
                        <li class="withripple"><a href="#">账户管理</a></li>
                        <li class="withripple"><a href="#">协议管理</a></li>
                        <li class="withripple"><a href="#">地址管理</a></li>
                        <li class="withripple"><a href="#">证书管理</a></li>
                    </ul>
                </li>
                <li class="withripple"><a href="#contact"><i class="iconfont">&#xe600;</i>联系人</a></li>
                <li>
                    <a class="withripple" href="#about/history"><i class="iconfont">&#xe601;</i>系统设置</a>
                    <ul>
                        <li class="withripple"><a href="#">通知设置</a></li>
                    </ul>
                </li>
                <li class="withripple"><a href="#contact"><i class="iconfont">&#xe607;</i>帮助</a></li>
                <li class="withripple"><a href="#contact"><i class="iconfont">&#xe605;</i>关于</a></li>
            </ul>
        </nav>
    </div>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/hammer.js/hammer.js"></script>
        <script src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery.mmenu.min.all.js"></script>
        <script src="~/js/ripples.min.js"></script>
        <script src="~/js/material.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/hammer.js/2.0.4/hammer.min.js"
                asp-fallback-src="~/lib/hammer.js/hammer.js"
                asp-fallback-test="window.Hammer">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/js/bootstrap-touch-carousel.js"
                asp-fallback-src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"
                asp-fallback-test="window.Hammer && window.Hammer.Instance">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery.mmenu.min.all.js"></script>
        <script src="~/js/material.min.js"></script>
        <script src="~/js/ripples.min.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
    <script>
        $(function ()
        {
            $('nav#menu').mmenu({
                searchfield: true,
                counters: true,
                extensions: ["pagedim-black", "pageshadow", "widescreen"],
                slidingSubmenus: false,
                navbar: {
                    add: true,
                    title: "小蚁-AntShares"
                }
            });
            $.material.init()
        });


        $('nav#menu').jqueryAccordionMenu();

    </script>
</body>
</html>
