<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework.Core" version="7.0.0-beta8" targetFramework="net46" />
  <package id="EntityFramework.Relational" version="7.0.0-beta8" targetFramework="net46" />
  <package id="EntityFramework.Sqlite" version="7.0.0-beta8" targetFramework="net46" />
  <package id="Ix-Async" version="1.2.5" targetFramework="net46" />
  <package id="LevelDB.Net" version="1.1.1" targetFramework="net452" />
  <package id="Microsoft.Data.Sqlite" version="1.0.0-beta8" targetFramework="net46" />
  <package id="Microsoft.Framework.Caching.Abstractions" version="1.0.0-beta8" targetFramework="net46" />
  <package id="Microsoft.Framework.Caching.Memory" version="1.0.0-beta8" targetFramework="net46" />
  <package id="Microsoft.Framework.Configuration" version="1.0.0-beta8" targetFramework="net46" />
  <package id="Microsoft.Framework.Configuration.Abstractions" version="1.0.0-beta8" targetFramework="net46" />
  <package id="Microsoft.Framework.Configuration.Binder" version="1.0.0-beta8" targetFramework="net46" />
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-beta8" targetFramework="net46" />
  <package id="Microsoft.Framework.DependencyInjection.Abstractions" version="1.0.0-beta8" targetFramework="net46" />
  <package id="Microsoft.Framework.Logging" version="1.0.0-beta8" targetFramework="net46" />
  <package id="Microsoft.Framework.Logging.Abstractions" version="1.0.0-beta8" targetFramework="net46" />
  <package id="Microsoft.Framework.OptionsModel" version="1.0.0-beta8" targetFramework="net46" />
  <package id="Microsoft.Framework.Primitives" version="1.0.0-beta8" targetFramework="net46" />
  <package id="Remotion.Linq" version="2.0.0-beta-002" targetFramework="net46" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net46" />
</packages>