<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework.Core" version="7.0.0-rc1-final" targetFramework="net46" />
  <package id="EntityFramework.Relational" version="7.0.0-rc1-final" targetFramework="net46" />
  <package id="EntityFramework.Sqlite" version="7.0.0-rc1-final" targetFramework="net46" />
  <package id="Ix-Async" version="1.2.5" targetFramework="net46" />
  <package id="LevelDB.Net" version="1.2.1" targetFramework="net461" />
  <package id="Microsoft.Data.Sqlite" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Caching.Memory" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Configuration" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Logging" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.OptionsModel" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.PlatformAbstractions" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Remotion.Linq" version="2.0.1" targetFramework="net46" />
  <package id="System.Collections" version="4.0.0" targetFramework="net46" />
  <package id="System.Collections.Concurrent" version="4.0.10" targetFramework="net46" />
  <package id="System.Collections.Immutable" version="1.1.37" targetFramework="net46" />
  <package id="System.Diagnostics.Debug" version="4.0.0" targetFramework="net46" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.0.0-beta-23516" targetFramework="net46" />
  <package id="System.Diagnostics.Tracing" version="4.0.0" targetFramework="net46" />
  <package id="System.Globalization" version="4.0.0" targetFramework="net46" />
  <package id="System.Linq" version="4.0.0" targetFramework="net46" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net46" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net46" />
  <package id="System.Runtime.Extensions" version="4.0.0" targetFramework="net46" />
  <package id="System.Threading" version="4.0.0" targetFramework="net46" />
</packages>