@model AntSharesUI_Web_.Models.Wallet

@{
    ViewData["Title"] = "修改钱包密码";
}

<form asp-action="ChangePassword" method="post" class="form-horizontal">
    <fieldset>
        <h2 class="page-header">修改钱包密码</h2>
        <div class="form-group">
            <label class="col-sm-4 control-label">输入旧密码</label>
            <div class="col-sm-6">
                <input asp-for="Password" class="form-control" autocomplete="off" type="password" placeholder="钱包密码">
                <span asp-validation-for="Password" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">输入新密码</label>
            <div class="col-sm-6">
                <input asp-for="NewPassword" class="form-control" autocomplete="off" type="password" placeholder="钱包密码">
                <span asp-validation-for="NewPassword" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">确认新密码</label>
            <div class="col-sm-6">
                <input asp-for="NewConfirmPassword" class="form-control" autocomplete="off" type="password" placeholder="钱包密码">
                <span asp-validation-for="NewConfirmPassword" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-md-push-4 col-sm-push-4">
                <button type="submit" class="btn btn-success">修改密码</button>
            </div>
        </div>
    </fieldset>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
