@{
    ViewBag.Title = "创建钱包";
}

<form class="form-horizontal">
    <fieldset>
        <h2 class="page-header">创建钱包</h2>
        <div class="form-group">
            <label class="col-sm-2 control-label">输入钱包名称</label>
            <div class="col-sm-3">

                <input class="form-control" autocomplete="off" type="text" placeholder="钱包名称">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">输入钱包密码</label>
            <div class="col-sm-3">
                <input class="form-control" autocomplete="off" type="text" placeholder="钱包密码">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">输入钱包确认密码</label>
            <div class="col-sm-3">
                <input class="form-control" autocomplete="off" type="text" placeholder="确认密码">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 col-md-push-2">
                <button type="submit" class="btn btn-success">创建钱包</button>
            </div>
        </div>
</fieldset>
</form>