@{
    ViewData["Title"] = "Home Page";
}

<br />
@*<div class="btn-group btn-group-justified">
    <a class="btn btn-default" href="javascript:void(0)">Left</a>
    <a class="btn btn-default" href="javascript:void(0)">Middle</a>
    <a class="btn btn-default" href="javascript:void(0)">Right</a>
</div>*@