@{
    ViewData["Title"] = "正在跳转";
    ViewData["meta"] = Html.Raw("http-equiv=\"refresh\" content = \"0; url=http://localhost:4497/Wallet/Open \"");

}

<br />
@*<div class="btn-group btn-group-justified">
    <a class="btn btn-default" href="javascript:void(0)">Left</a>
    <a class="btn btn-default" href="javascript:void(0)">Middle</a>
    <a class="btn btn-default" href="javascript:void(0)">Right</a>
</div>*@

