name: .NET Core Test and Publish

on:
  push:
    branches: [master]
  pull_request:

env:
  DOTNET_VERSION: 7.0.x

jobs:

  Test:
    strategy: 
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    - name: Check format
      if: matrix.os == 'ubuntu-latest'
      run: |
         dotnet format --verify-no-changes --verbosity diagnostic
    - name: Test
      run: |
        find tests -name *.csproj | xargs -I % dotnet add % package coverlet.msbuild
        dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=lcov /p:CoverletOutput=${GITHUB_WORKSPACE}/coverage/lcov
    - name: Coveralls
      if: matrix.os == 'ubuntu-latest'
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}

  PublishMyGet:
    needs: Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    - name: Set Version
      run: git rev-list --count HEAD | xargs printf 'CI%05d' | xargs -I{} echo 'VERSION_SUFFIX={}' >> $GITHUB_ENV
    - name : Pack (Neo)
      run: |
        dotnet pack \
        --configuration Debug \
        --output ./out \
        --version-suffix ${{ env.VERSION_SUFFIX }}
    - name: Remove Unwanted Files
      working-directory: ./out
      run: |
        rm -v Neo.CLI*
        rm -v Neo.GUI*
    - name: Publish to MyGet
      working-directory: ./out
      run: dotnet nuget push Neo.${{ env.VERSION_SUFFIX }}.nupkg -s https://www.myget.org/F/neo/api/v2/package -k ${MYGET_TOKEN} -ss https://www.myget.org/F/neo/symbols/api/v2/package -sk ${MYGET_TOKEN}
    - name: Publish to MyGet
      working-directory: ./out
      run: dotnet nuget push Neo.ConsoleService.${{ env.VERSION_SUFFIX }}.nupkg -s https://www.myget.org/F/neo/api/v2/package -k ${MYGET_TOKEN} -ss https://www.myget.org/F/neo/symbols/api/v2/package -sk ${MYGET_TOKEN}
    - name: Publish to MyGet
      working-directory: ./out
      run: dotnet nuget push Neo.Json.${{ env.VERSION_SUFFIX }}.nupkg -s https://www.myget.org/F/neo/api/v2/package -k ${MYGET_TOKEN} -ss https://www.myget.org/F/neo/symbols/api/v2/package -sk ${MYGET_TOKEN}
    - name: Publish to MyGet
      working-directory: ./out
      run: dotnet nuget push Neo.VM.${{ env.VERSION_SUFFIX }}.nupkg -s https://www.myget.org/F/neo/api/v2/package -k ${MYGET_TOKEN} -ss https://www.myget.org/F/neo/symbols/api/v2/package -sk ${MYGET_TOKEN}
      env:
        MYGET_TOKEN: ${{ secrets.MYGET_TOKEN }}

  Release:
    if: github.ref == 'refs/heads/master' && startsWith(github.repository, 'neo-project/')
    needs: Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Get version
      id: get_version
      run: |
        sudo apt install xmlstarlet
        find src -name Directory.Build.props | xargs xmlstarlet sel -N i=http://schemas.microsoft.com/developer/msbuild/2003 -t -v "concat('::set-output name=version::v',//i:VersionPrefix/text())" | xargs echo
    - name: Check tag
      id: check_tag
      run: curl -s -I ${{ format('https://github.com/{0}/releases/tag/{1}', github.repository, steps.get_version.outputs.version) }} | head -n 1 | cut -d$' ' -f2 | xargs printf "::set-output name=statusCode::%s" | xargs echo
    - name: Create release
      if: steps.check_tag.outputs.statusCode == '404'
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.get_version.outputs.version }}
        release_name: ${{ steps.get_version.outputs.version }}
        prerelease: ${{ contains(steps.get_version.outputs.version, '-') }}
    - name: Setup .NET
      if: steps.check_tag.outputs.statusCode == '404'
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    - name : Pack (Neo)
      if: steps.check_tag.outputs.statusCode == '404'
      run: |
        dotnet pack ./src/Neo \
        --configuration Release \
        --output ./out
    - name : Pack (Neo.Json)
      if: steps.check_tag.outputs.statusCode == '404'
      run: |
        dotnet pack ./src/Neo.Json \
        --configuration Release \
        --output ./out
    - name : Pack (Neo.VM)
      if: steps.check_tag.outputs.statusCode == '404'
      run: |
        dotnet pack ./src/Neo.VM \
        --configuration Release \
        --output ./out
    - name : Pack (Neo.ConsoleService)
      if: steps.check_tag.outputs.statusCode == '404'
      run: |
        dotnet pack ./src/Neo.ConsoleService \
        --configuration Release \
        --output ./out
    - name: Publish to NuGet
      if: steps.check_tag.outputs.statusCode == '404'
      run: |
        dotnet nuget push out/*.nupkg -s https://api.nuget.org/v3/index.json -k ${NUGET_TOKEN}
      env:
        NUGET_TOKEN: ${{ secrets.NUGET_TOKEN }}
